
    <div class="container-fluid d-none d-lg-block">
        <div class="row" style="border-bottom: 1px solid #DADADA; padding : 1%">
            <div class="col-sm-3">
                <img src="https://parthdesigns.com/assets/logo/logo.svg" alt="Logo"/>
                <img src="/assets/images/PARTH Designs.png" alt="Logo" />
            </div>
            <div class="col-sm-5">
                <input type="text" style="text-indent:17px;" class="form-control searchIcon" id="searchBar"
                    placeholder="      Search for Items, Categories" />
            </div>
            <div class="col-sm-4">
                <div>
                    <span style = "margin-left : 60%">Cart <img src="/assets/images/shopping_cart.png" style = "margin-left : 2%" alt="Logo"/> </span>   
                    <span style = "margin-left : 10%">Login<img src="/assets/images/login.png" style = "margin-left : 2%" alt="Logo"/></span>
                </div>
            </div>
        </div>
    </div>