<div class="container-fluid" style="padding-top : 2%; padding-left : 5%; padding-right : 5%">
    <h1 class="cartText" style="font-family : poppins"> Cart </h1>
    <div class="d-none d-lg-block" style="border-bottom: 1px solid #DADADA;"></div>
    <div class="row">

        <div class="leftCart col-12 col-lg-9" style="border : 1px solid red;">
            <div style="display : flex; padding-top : 3%;">
                <img class="parthDesign" src="/assets/images/cartImage.png" alt="Cart" />
                <div style="display : block; width: 100%;">
                    <p class="pdOriginals">PD Originals</p>
                    <div style="display : flex;">
                        <h5 class="cartItemName">Peruvian Modern Ergonomic Rocking Chair</h5>
                        <h5 class="priceItem d-none d-lg-block">{{productCartDetails[2] | currency : 'INR'}}</h5>
                    </div>
                    <div style="display : flex">
                        <span class="dot" style="background-color: #222724;"></span>
                        <p class="colorDescription"> Midnight Black </p>
                        <p class = "d-block d-sm-none" style = "margin-top : 10%; margin-left : -63%;">{{productCartDetails[2] | currency : 'INR'}}</p>
                    </div> <br>
                    <!-- this is example -->
                    <!-- this is example 2-->
                    <div style="display : flex">
                        <div class="quantity buttons_added">
                            <span><input type="button" value="-" (click)="changeQty('minus')" class="minus">
                                <input type="number" style="width : 20%" step="1" min="1" max="" name="quantity"
                                    value={{counter}} title="Qty" class="input-text qty text" size="4" pattern=""
                                    inputmode=""><input type="button" value="+" (click)="changeQty('add')"
                                    class="plus"></span>
                        </div>
                        <a href="#" class="deleteProduct" style="text-decoration: none;">Delete</a>
                        <a href="#" class="saveForLetter" style="padding-left : 10%; text-decoration: none;">Save for
                            later</a>
                    </div>
                </div>

            </div>
            <div style="border-bottom: 1px solid #DADADA;margin-top : 3%; width : 100%;"></div>

            <div style="padding-top : 1%;">
                <p class="shippingTitle">Shipping Address</p>
                <p class="shippingAddr"><strong>Rajat Vallabh</strong>, 4th Floor, Parth Universal Pvt Ltd, Vatika
                    Atrium, Sector 53, Gurugram<br>
                    Phone Number: 0123456789 <strong>Edit Address</strong></p>
            </div>

        </div>


        <div class="checkoutClass col-12 col-lg-3">
            <div class="totalPriceDisp">
                <div class="totalOrderItem">Order Total (2 items):</div>
                <div class="totalPrice"><strong>{{productCombinedPrice | currency : 'INR'}}</strong></div>
            </div>
            <button type="button" class="btn btn-primary rounded-0"
                style="margin-left : 10%; background-color : #B1794E; border-color : #B1794E; padding : 1em 6.6em">Pre-Order</button>
        </div>


    </div>



</div>